<h2><b>Sat I</b></h2>
<h3>Regular Time</h3>
<h6>4:00 Hours Total</h6>
<button class="start" {{action 'click'}}>Start</button>  {{moment-format comment.createdAt 'MMMM D, YYYY'}}
<hr>
<b>Start: </b>{{moment-format comment.createdAt 'h:mm A'}}
<hr>
<button name="test" {{action 'displayDate'}}>Date</button>
<hr>
<b>End: </b>{{moment-duration 4 'hours'}}
{{outlet}}
